*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    /* background-color: blue; */
    font-family: 'Roboto', sans-serif;
    color: #023047;

}

.background-image-wrapper {
    background-image: url("../img/backimg.jpg");
    height: 150vh;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

.imaage {
    /* position: sticky;
    top: 0; */
    box-shadow: .6vw .4vw .4vw .3vw;
    /* margin: ; */
    color: #ffb703;

}

.description {
    margin-top: 150px;
    color: #023047;
}


#myButton {
    background-color: transparent;
    border-radius: 4rem;
    padding-inline: .3em;
    text-align: center;
    box-shadow: .1vw .1vw .1vw .1vw;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

:is(#Education, #skills, #contact) {
    background-image: linear-gradient(180deg, blue, #ffb703);
    color: #fff;

}

#Education {
    height: 300px;
}

.edu-description {
    font-style: italic;
}

.project-buttons1 {
    float: left;
}

.project-buttons2 {
    float: right;
}

#skills {
    height: 400px;
}